<ul class="webbies">
  <li data-id="ab"><%= image_tag "webby-andy-budd.png", width: 110, height: 110 %></li>
  <li data-id="ac"><%= image_tag "webby-andy-clarke.png", width: 110, height: 110 %></li>
  <li data-id="dr"><%= image_tag "webby-dan-rubin.png", width: 110, height: 110 %></li>
  <li data-id="jk"><%= image_tag "webby-jeremy-keith.png", width: 110, height: 110 %></li>
  <li data-id="jh"><%= image_tag "webby-jon-hicks.png", width: 110, height: 110 %></li>
</ul>
