<ul class="webbies">
  <li data-id="ac"><%= image_tag "webby-andy-clarke.png", width: 110, height: 110 %></li>
  <li data-id="dc"><%= image_tag "webby-dan-cederholm.png", width: 110, height: 110 %></li>
  <li data-id="dr"><%= image_tag "webby-dan-rubin.png", width: 110, height: 110 %></li>
  <li data-id="ds"><%= image_tag "webby-dave-shea.png", width: 110, height: 110 %></li>
  <li data-id="dbw"><%= image_tag "webby-doug-bowman.png", width: 110, height: 110 %></li>
  <li data-id="jh"><%= image_tag "webby-jon-hicks.png", width: 110, height: 110 %></li>
  <li data-id="vd"><%= image_tag "webby-veerle-duoh.png", width: 110, height: 110 %></li>
</ul>
