<ul class="webbies">
  <li data-id="db"><%= image_tag "webby-dan-benjamin.png", width: 110, height: 110 %></li>
  <li data-id="dc"><%= image_tag "webby-dan-cederholm.png", width: 110, height: 110 %></li>
  <li data-id="ds"><%= image_tag "webby-dave-shea.png", width: 110, height: 110 %></li>
  <li data-id="dbw"><%= image_tag "webby-doug-bowman.png", width: 110, height: 110 %></li>
  <li data-id="em"><%= image_tag "webby-eric-meyer.png", width: 110, height: 110 %></li>
  <li data-id="jz"><%= image_tag "webby-jeffrey-zeldman.png", width: 110, height: 110 %></li>
  <li data-id="js"><%= image_tag "webby-jonathan-snook.png", width: 110, height: 110 %></li>
  <li data-id="si"><%= image_tag "webby-shaun-inman.png", width: 110, height: 110 %></li>
</ul>
